<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <%-include("../partials/header")%>

    <main class="mainSection">
      <!-- Title -->
      <div class="title2">
        <h3 class="title2a">
          Producto Seleccionado: <%= productSelect.name %>
        </h3>
      </div>
      <section class="bodyCentral">
        <!-- Main Index -->
        <article class="articles">
          <div class="imgProdBox">
            <img
              class="imgProduct"
              src="/imagesProduct/<%= productSelect.photo %>"
              alt="img-<%= productSelect.name %>"
            />
          </div>
          <div class="descriptionBox">
            <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
            <p class="precios">$ <%= productSelect.price %></p>
            <p class="sale"><%= productSelect.discount %>% OFF</p>
            <div class="description">
              <h4 class="description-1"><%= productSelect.name %></h4>
            </div>
          </div>
        </article>
        <form action="/products/edit/<%= productSelect.id %>" method="get">
          <button type="submit">Editar</button>
        </form>
        <form
          action="/products/delete/<%= productSelect.id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Borrar</button>
        </form>
      </section>
    </main>

    <%-include("../partials/footer")%>
  </body>
</html>
