<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <%-include("../partials/header")%>

    <main class="mainLogin">
      <!-- Main Login -->
      <h2>Nuestros Clientes Encontrados</h2>
      <ul>
        <% for (let i = 0; i < search.length; i++) {%>
        <a href="/users/detail/<%= search[i].id %> ">
          <li><%= search[i].name %> <%= search[i].lastName %></li>
        </a>
        <% } %>
      </ul>
      <br />
      <form action="/users/search" method="get">
        <input
          type="search"
          name="search"
          id=""
          placeholder="Buscar un usuario"
        />
        <button type="submit">Buscar</button>
      </form>
    </main>

    <%-include("../partials/footer")%>
  </body>
</html>
